* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Ubuntu Sans", sans-serif;

}

body {
    width: 100%;
    height: 100%;
    background-color: #1b1b1b;
}

main {
    width: 100%;
    height: 100%;
    background-color: #1b1b1b;
}

.capa {
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: -1;
    top: 0;
    left: 0;
}

/*Estilos para el encabezado*/
header {
    background-color: #161616;
    width: 100%;
    height: 100px;
    position: sticky;
    z-index: 1000;
    top: 0;
    left: 0;

}

.logo h1 a {
    text-decoration: none;
    color: white;
    border: solid 2px rgb(129, 0, 0);
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
}

.container .logo {
    float: left;
    line-height: 100px;

}

.container label {
    color: #fff;
    font-size: 25px;
    cursor: pointer;

}

.logo a {
    background-color: rgb(168, 8, 8);
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: bold;
    padding: 5px;
}

.logo h1 {

    color: #fff;
    font-weight: 400;
    font-size: 22px;
    margin-left: 10px;
}

.container .menu {
    float: right;
    line-height: 100px;
}

.container .menu a {
    display: inline-block;
    padding: 15px;
    line-height: normal;
    text-decoration: none;
    color: #fff;
    transition: all 0.3s ease;
    border-bottom: 2px solid transparent;
    font-size: 15px;
    margin-right: 5px;
}

.container .menu a:hover {
    border-bottom: 2px solid #c7c7c7;
    padding-bottom: 5px;
}

/*Fin de Estilos para el encabezado*/

/* principal */
.principal {
    text-align: center;
    color: white;
    padding: 2em;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.principal h1 {
    padding: 2em;
    color: white;
}

.wrapper {
    display: flex;
    width: 100%;
    justify-content: space-around;
    gap: 20px;
}

.foto {
    width: 280px;
    height: 360px;
    padding: 2rem 1rem;
    position: relative;
    display: flex;
    align-items: flex-end;
    box-shadow: 0px 7px 10px rgba(202, 23, 23, 0.5);
    transition: 0.5s ease-in-out;
    border-radius: 20px;
}

.foto:hover {
    border-radius: 20px;
}

.foto:before {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.493), rgba(0, 0, 0, 0.952));
    z-index: 2;
    transition: 0.5s all;
    opacity: 0;
}

.foto:hover:before {
    opacity: 1;
    border-radius: 20px;
}

.foto img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;

}

.foto .info {
    position: relative;
    z-index: 3;
    color: #fff;
    opacity: 0;
    transform: translate(30px);
    transition: 0.5 all;

}

.foto:hover .info {
    opacity: 1;
    transform: translate(0px);
}

.foto .info h1 {
    margin: 0;
}

.foto .info p {
    letter-spacing: 1px;
    font-size: 15px;
    margin-top: 8px;
    margin-bottom: 20px;
}

.foto .info .boton {
    text-decoration: none;
    padding: 0.5rem 1rem;
    background: #fff;
    color: #000;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.4s ease-in-out;
}

.foto .info .boton:hover {
    box-shadow: 0px 7px 10px rgba(131, 9, 9, 0.644);
}

img {
    height: 370px;
    width: 240px;
    border-radius: 20px;
}



/*gatooos*/

.equipo {
    padding: 1em;
}

.equipo h1 {
    text-align: center;
    color: white;
    text-transform: uppercase;
    margin: 10px;
    padding: 1em;
}

.gatos {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 40px;
}

.gatos .mascota {
    margin-top: 15px;
    color: #e0e0e0;
    font-size: larger;
    text-transform: uppercase;
    font-weight: bold;
    font-style: normal;
}

.gatos p {
    text-align: center;
    color: #e4e2dfb0;
    font-style: italic;
    text-transform: capitalize;
}

.gatoft img {
    width: 300px;
}

/*fin gatos*/

/* PARTE NOTICIAS*/

.noticias img {
    width: 100%;
    display: block;
}

.noticias h1 {
    text-align: center;
    color: white;
    text-transform: uppercase;
    padding: 2em;
}

/* fin de noticias */

aside{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.publi{
    background-color: #17173bc0;
    border-radius: 10px;
    margin-bottom: 20px;
}
.publi div{
    width: 60%;
}

aside h4{
    text-align: center;
    color: white;
    text-transform: uppercase;
    margin-top: 20px;
}

aside div{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 700px;
    height: 400px;
    align-items: center;
}

aside img{ 
    height: 30%;
}


/* FOOTER */
footer {
    background-color: #0a0909bd;
}

.footerContainer {
    width: 100%;
    padding: 70px 30px 20px;
}

.icons {
    display: flex;
    justify-content: center;
}

.icons a {
    text-decoration: none;
    padding: 10px;
    background-color: white;
    margin: 10px;
    border-radius: 50%;
}

.icons a i {
    font-size: 2em;
    color: black;
    opacity: 1.9;
}

/* KCHOVER EFFECTS */
.icons a:hover {
    background-color: #0a0909bd;
    transition: 0.5s;
}

.icons a:hover i {
    color: white;
    transition: 0.5s;
}

.footerNav {
    margin: 30px 0;
}

.footerNav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.footerNav ul li a {
    color: white;
    margin: 20px;
    text-decoration: none;
    font-size: 1.3em;
    opacity: 0.7;
    transform: 0.5s;
}

.footerNav ul li a:hover {
    opacity: 1;
}

.footerbtn {
    background-color: #080808;
    padding: 20px;
    width: 100%;
    text-align: center;
}

.footerbtn p {
    color: white;
}

.designer {
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0px 5px;
}

/* Fin de Footer */

/*REGISTROOO*/
#main-registro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 1080px;
    background-image: url(img/fondo.jpg);
    background-size: 100%;
    background-position: center;
}

.container-register {
    max-width: 650px;
    padding: 28px;
    margin: 40px 28px;
    border-radius: 10px;
    overflow: hidden;
    background: rgba(48, 137, 196, 0.719);
    box-shadow: 0 15px 20px black;
}

.container-register h2 {
    font-size: 26px;
    font-weight: bold;
    text-align: left;
    color: #fff;
    padding-bottom: 8px;
    border-bottom: 1px solid rgb(219, 219, 219);
}

.content {
    display: flex;
    flex-wrap: wrap;
    padding: 20px 0;
}

.input-box {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    padding-bottom: 15px;
}

.checkbox {
    color: white;
}


.input-box label,
.gender-title {
    width: 95%;
    color: white;
    font-weight: bold;
    margin: 5px 0;
}

.gender-title {
    font-size: 16px;
}

.input-box input {
    height: 40px;
    width: 95%;
    padding: 0 10px;
    border-radius: 5px;
    outline: none;
}

.input-box input:is(:focus, :valid) {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
}

.gender-category label {
    padding: 0 20px 0 5px;
    font-size: 14px;
}

.gender-category {
    color: gainsboro;
}

.gender-category label,
.gender-category input {
    cursor: pointer;
}

.alert p {
    font-size: 14px;
    font-style: italic;
    color: rgba(233, 233, 233, 0.87);
    margin: 5px 0;
    padding: 10px;
    line-height: 1.5;
}

.alert a {
    font-weight: bold;
    text-decoration: none;
    color: rgb(235, 235, 235);
}

.alert a:hover {
    font-weight: bold;
    text-decoration: underline;
    /* color: rgb(41, 41, 41); */
    color: rgb(64, 64, 92)
}

.button-container {
    margin: 15px 0;
}

.button-container button {
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    display: block;
    font-size: 20px;
    color: white;
    border-radius: 5px;
    background-image: linear-gradient(to right, rgb(12, 14, 11), rgb(64, 64, 92));
    cursor: pointer;
    transition: 0.3s;
}

.button-container button:hover {
    background-image: linear-gradient(to right, rgb(64, 64, 92), rgb(12, 14, 11));
}

/*FIN REGISTROOO*/

/*PRODUCTOS*/

#productos1 h1 {
    color: white;
    text-align: center;
    margin-top: 40px;
    text-transform: uppercase;
    font-size: 40px;
}

.card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    width: 325px;
    background-color: #fff;
    overflow: hidden;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    margin: 20px;
    border-radius: 20px;
}

.card img {
    border-radius: 0 0;
    width: 100%;
    height: 220px;
}

.card-content {
    padding: 16px;
}

.card-content h3 {
    font-size: 28px;
    margin-bottom: 8px;
}

.card-content p {
    color: #000000;
    font-size: 15px;
    margin-bottom: 8px;
    line-height: 1.3;
}

.card-content .btn {
    display: inline-block;
    padding: 8px 16px;
    background-color: #333;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
    text-decoration: none;
    border-radius: 4px;
    margin-top: 16px;
    color: #fff;
}


/* Fin de Productos */
.encuestas {
    height: 400px;
    margin-top: 0 auto;
}

.encuesta {
    background-color: rgba(100, 92, 92, 0.295);
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 600px;
    height: 300px;
    padding: 2em;
    border-radius: 10px;
}

.encuestas h1 {
    text-align: center;
    margin-top: 40px;
    color: white;
    text-transform: uppercase;
    font-size: 20px;
    padding: 1em;
}

#primera {
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.opn {
    text-align: center;
    font-size: larger;
    font-weight: bolder;
    color: #9e9494;
}


#segunda {
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

form button {
    margin-top: 4px;
    padding: 5px 10px;
    text-transform: uppercase;
    background-color: rgb(0, 0, 0);
    color: white;
    font-weight: bold;
    border-radius: 5px;
}


/*Tablas ranking*/

#tablero {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

#tablero h1,
h2 {
    padding: 1em;
    color: white;
    text-transform: uppercase;
}

.tablas {
    align-items: center;
    background: #2c2c2c;
    width: 80%;
    border-radius: 8px;
    border: 3px solid #47c421;
    margin: 20px;
}

.tablas th {
    padding: 3px;
    color: #1b1b1b;
    text-transform: uppercase;
    background-color: #9bec00;
    width: 500px;
    border: 1px solid #47c421;
    border-radius: 3px;
}

.tablas td {
    color: #a19c9c;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.575);
}

.tablas td:hover {
    background-color: #11101065;

}

/* Fin de la tabla ranking */